In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkBasic").master("local[*]").getOrCreate()

In [5]:
spark

In [17]:
df = spark.read.csv("BigMart Sales.csv", header=True, inferSchema=True)

In [18]:
df.show(5)

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 5 rows

In [11]:
df.rdd.getNumPartitions()

1

In [62]:
from pyspark.sql.functions import col, sum, when, avg
df.select(sum(when(col("Item_weight").isNull(), 1).otherwise(0)).alias("null_count")).show()

+----------+
|null_count|
+----------+
|         0|
+----------+

In [33]:
df.select(col("Item_Weight")).show

+-----------+
|Item_Weight|
+-----------+
|        9.3|
|       5.92|
|       17.5|
|       19.2|
|       8.93|
|     10.395|
|      13.65|
|       NULL|
|       16.2|
|       19.2|
|       11.8|
|       18.5|
|       15.1|
|       17.6|
|      16.35|
|        9.0|
|       11.8|
|        9.0|
|       NULL|
|      13.35|
+-----------+
only showing top 20 rows

In [46]:
df= df.dropna(subset=("Item_Weight"))

In [47]:
df.select(col("Item_Weight")).show()

+-----------+
|Item_Weight|
+-----------+
|        9.3|
|       5.92|
|       17.5|
|       19.2|
|       8.93|
|     10.395|
|      13.65|
|       16.2|
|       19.2|
|       11.8|
|       18.5|
|       15.1|
|       17.6|
|      16.35|
|        9.0|
|       11.8|
|        9.0|
|      13.35|
|      18.85|
|       14.6|
+-----------+
only showing top 20 rows

In [48]:
df.select(sum(when(col("Item_weight").isNull(), 1).otherwise(0)).alias("null_count")).show()

+----------+
|null_count|
+----------+
|         0|
+----------+

In [50]:
df.show()

+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|Item_Identifier|Item_Weight|Item_Fat_Content|Item_Visibility|           Item_Type|Item_MRP|Outlet_Identifier|Outlet_Establishment_Year|Outlet_Size|Outlet_Location_Type|      Outlet_Type|Item_Outlet_Sales|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
|          FDA15|        9.3|         Low Fat|    0.016047301|               Dairy|249.8092|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         3735.138|
|          DRC01|       5.92|         Regular|    0.019278216|         Soft Drinks| 48.2692|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         443.4228|
|          FDN15|       17.5|         Low Fat|    0.016760075|                Meat| 141.618|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|          2097.27|
|          FDX07|       19.2|         Regular|            0.0|Fruits and Vegeta...| 182.095|           OUT010|                     1998|       NULL|              Tier 3|    Grocery Store|           732.38|
|          NCD19|       8.93|         Low Fat|            0.0|           Household| 53.8614|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         994.7052|
|          FDP36|     10.395|         Regular|            0.0|        Baking Goods| 51.4008|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|         556.6088|
|          FDO10|      13.65|         Regular|    0.012741089|         Snack Foods| 57.6588|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         343.5528|
|          FDH17|       16.2|         Regular|    0.016687114|        Frozen Foods| 96.9726|           OUT045|                     2002|       NULL|              Tier 2|Supermarket Type1|        1076.5986|
|          FDU28|       19.2|         Regular|     0.09444959|        Frozen Foods|187.8214|           OUT017|                     2007|       NULL|              Tier 2|Supermarket Type1|         4710.535|
|          FDY07|       11.8|         Low Fat|            0.0|Fruits and Vegeta...| 45.5402|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1516.0266|
|          FDA03|       18.5|         Regular|    0.045463773|               Dairy|144.1102|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|         2187.153|
|          FDX32|       15.1|         Regular|      0.1000135|Fruits and Vegeta...|145.4786|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|        1589.2646|
|          FDS46|       17.6|         Regular|    0.047257328|         Snack Foods|119.6782|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        2145.2076|
|          FDF32|      16.35|         Low Fat|      0.0680243|Fruits and Vegeta...|196.4426|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         1977.426|
|          FDP49|        9.0|         Regular|    0.069088961|           Breakfast| 56.3614|           OUT046|                     1997|      Small|              Tier 1|Supermarket Type1|        1547.3192|
|          NCB42|       11.8|         Low Fat|    0.008596051|  Health and Hygiene|115.3492|           OUT018|                     2009|     Medium|              Tier 3|Supermarket Type2|        1621.8888|
|          FDP49|        9.0|         Regular|    0.069196376|           Breakfast| 54.3614|           OUT049|                     1999|     Medium|              Tier 1|Supermarket Type1|         718.3982|
|          FDU02|      13.35|         Low Fat|     0.10249212|               Dairy|230.5352|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        2748.4224|
|          FDN22|      18.85|         Regular|    0.138190277|         Snack Foods|250.8724|           OUT013|                     1987|       High|              Tier 3|Supermarket Type1|         3775.086|
|          NCB30|       14.6|         Low Fat|    0.025698134|           Household|196.5084|           OUT035|                     2004|      Small|              Tier 2|Supermarket Type1|        1587.2672|
+---------------+-----------+----------------+---------------+--------------------+--------+-----------------+-------------------------+-----------+--------------------+-----------------+-----------------+
only showing top 20 rows

In [55]:
df.filter(col("Item_Visibility")==0).count()

436

In [56]:
df = df.withColumn("Item_Visibility", when(col("Item_Visibility") == 0, None).otherwise(col("Item_Visibility")))

In [57]:
df.select(sum(when(col("Item_Visibility").isNull(), 1).otherwise(0)).alias("null_count")).show()

+----------+
|null_count|
+----------+
|       436|
+----------+

In [60]:
df = df.dropna(subset=("Item_Visibility"))

In [61]:
df.select(sum(when(col("Item_Visibility").isNull(), 1).otherwise(0)).alias("null_count")).show()

+----------+
|null_count|
+----------+
|         0|
+----------+

In [67]:
df.filter(col("Item_Outlet_Sales")==0).count()

0

In [65]:
df.groupby("Outlet_Location_Type").agg(avg("Item_Outlet_Sales").alias("avg_sales")).show()

+--------------------+------------------+
|Outlet_Location_Type|         avg_sales|
+--------------------+------------------+
|              Tier 2|2319.0412100152903|
|              Tier 3|1723.9607671971717|
|              Tier 1| 2321.442495761742|
+--------------------+------------------+